<div class="container">
  <h2 class="header__text">Added task:</h2>
  <div class="todo__content">

    <h2>{{title}}</h2>
    
  <div class="edit__btn">
    <a href="/todolist/edit/{{id}}">Edit</a>
  </div>
  </div>

  {{> go_back}}

</div>
