<div class="container">
  <h1 class="header__text">Added task:</h1>
  <div class="todo__content__added">

    {{title}}
    
  <div class="added__btn">
    {{!-- <button class="added__edit__btn">Edit</button> --}}
    <a href="/todolist/edit/{{id}}">Edit</a>
  </div>
  </div>


  {{> go_back}}

</div>
