<div class="container">
  <h2 class="header__text">Updated task successfully!</h2>
  <h3 class="header__text">New task:</h3>
  <div class="todo__content">

    <h1>{{todos.title}}</h1>
    
  </div>

  {{> go_back}}

</div>
