<div class="container">
  <h2 class="header__text">Remove task?</h2>
  <div class="todo__content">

    <h2>{{todos.title}}</h2>
    
  <div class="choose__btn">
    <form action="/todolist/removed/{{todos.id}}?_method=DELETE" method="post">
      <button>Yes</button>
    </form>
    <a href="/todolist">No</a>
    
  </div>
  </div>

  {{> go_back}}

</div>