<div class="container">
  <h2 class="header__text">Remove task?</h2>
  <div class="todo__content">

    <h2>{{title}}</h2>
    
  <div class="choose__btn">
    <a href="/todolist/remove/{{id}}">Yes</a>
    <a href="/todolist">No</a>
  </div>
  </div>

  {{> go_back}}

</div>