<div class="container">
  <h1 class="header__text">What you can do today?</h1>
  <div class="todo__content">
    <form class="main__form" autocomplete="off" method="post" action="/todolist/added">

      <input
        type="text"
        name="todo"
        placeholder="Write..."
      >
      <input 
        type="submit"
        value="Save"
      >

    </form>    
  </div>
  <div class="todo__list">

    {{#each todo}}
    <div class="single__todo">
      <p>{{title}}</p>
      <div class="single__todo__btn">
        <button class="edit__btn">Edit</button>
        <button class="remove__btn">Remove</button>
      </div>
    </div>
    {{/each}}

  </div>
</div>