<div class="container">
  <h1 class="header__text">What you can do today?</h1>
  <div class="todo__content">
    <form class="main__form" autocomplete="off" method="post" action="/todolist/added">

      <input
        type="text"
        name="todos"
        placeholder="Write..."
      >
      <input 
        type="submit"
        value="Save"
      >

    </form>    
  </div>
  <div class="todo__list">

    {{#each todoList}}
    <div class="single__todo">
      <p>{{!-- {{increment}}. --}}{{title}}</p>
      <div class="single__todo__btn">
        <div class="edit__btn">
          <a href="/todolist/edit/{{id}}">Edit</a>
        </div>
        <div class="edit__btn">
          <a href="/todolist/remove/{{id}}">Remove</a>
        </div>

      </div>
    </div>
    {{/each}}

  </div>
</div>