  <div class="contener">
    <div class="header">
    </div>
    <form class="main__form" action="">
      <input type="text" placeholder="What u can do today ?">
      <input type="submit" value="Save">
    </form>
    <div class="todo__list"></div>
  </div>