<div class="contener">
  <div class="home__content">
    <form class="main__form" autocomplete="off" method="post" action="/todolist/add">
      <input type="text" name="todo" placeholder="What u can do today ?">
      <input type="submit" value="Save">
    </form>
    <div class="todo__list"></div>
  </div>
</div>